@media (max-width: 991px) {
	.button {
		&--main {
			margin-top: 40px;
		}
	}
}

@media (max-width: 767px) {
	.button {
		width: 135px;
		&--main {
			width: 190px;
			font-size: 16px;
		}
		&--sabmint {
			width: 100%;
		}
	}
}

@media (max-width:575px) {
	.button{
		&--main {
			margin-top: 45px;
		}
	}
}

@media (max-width: 425px) {
	.button{
		&--main {
			margin-top: 30px;
		}
	}
}