@media (max-width: 767px) {
	.customer {
		img {
			width: 80px;
			align-self: center;
		}
		&-item__content{
			padding-left: 30px;
		}
	}
}

@media (max-width: 425px) {
	.customer {
		&-item{
			flex-direction: column;
			&__content {
				padding-left: 0;
			}
			&__title {
				font-size: 16px;
				text-align: center;
			}
			&__subtitle {
				text-align: center;
				font-size: 12px;
			}
			&__descr {
				text-align: justify;
				font-size: 13px;
			}
		}
	}
}