@import '../media/promo_media';
@import '../media/advantage_media';
@import '../media/buttons_media';
@import '../media/header_media';
@import '../media/consultation_media';
@import '../media/forms_media';
@import '../media/title_media';

@media (max-width: 991px) {
	.container {
		max-width: 726px;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: 534px;
	}
}

@media (max-width: 575px) {
	.container {
		max-width: 400px;
	}
		.consultation__container {
		max-width: 432px;
	}

}

@media (max-width: 425px) {
	.container {
		max-width: 380px;
	}
}

@media (max-width: 400px) {
	.container {
		max-width: 350px;
	}
}

@media (max-width: 370px) {
	.container {
		max-width: 300px;
	}
}

@media (max-width: 320px) {
	.container {
		max-width: 300px;
	}
}